/*Navbar Styles*/
.nav-container{
  display: flex;
  margin: 20px 10% 0 10%;
  border-bottom: 2px solid rgb(226, 223, 223);
}
.logo{
  position: relative;
  top: 12px;
  height: 20px
}
.avatar:hover{
  border: 2px solid orangered;
  border-radius: 50px;
}
.avatar{
  border: 2px solid transparent;
  border-radius: 50px; 
}

.link{
  text-decoration: none;
  position: relative;
  color: gray;
  margin-right: 25px;
  font-size: 15px;
  top: 15px;
  left: 20px;
}
.link:hover{
  color: black;
}
.link::after {
  content: '';
  height: 2px;
  background-color: orange;
  position: absolute;
  top: 37px;
  left: 0px;
  display: block;
}
.link:hover::after {
  width: 100%;
}
.circle img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.icon-img{
  margin-left: 43%;
  display: flex;
  color: gray
}
.icon{
  position: relative;
  top: 15px;
  height: 17px;
  right: 30px;
}


/*Body styles*/
.body-container{
  display: flex;
  margin: 50px 15px 0 15%;
  z-index: 1;
}
.pic{
  border-radius: 10px;
  max-width: 100%;
}
.overlay{
  border: 2px solid rgb(245, 99, 31);
  border-radius: 10px;
  position: absolute;
  width: 78px;
  height: 76px;
  bottom: 39px;
  left: 190px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.right-side{
  margin-top: 50px;
}
.right-side h1{
  font-size: 30px;
}
.right-side p{
  color: gray;
}
#title{
  font-size: 13px;
  font-weight: bold;
}
#text{
  font-size: 14px;
  width: 100%;
  line-height: 20px;
}
.price-btn{
  display: flex;
}
.price p{
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-right: 12px;
}
.btn button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  margin-top: 20px;
}
.old-price{
  text-decoration: line-through;
  font-size: 15px;
  margin-top: -10px;
}
.addtocart{
  display: flex;
  margin-top: 30px;
}
.add{
  display: flex;
  margin-right: 12px;
  justify-content: space-between;
  background-color: rgb(247, 244, 244);
  border-radius: 5px;
  padding: 0px 30px;
}
.add p{
  margin-left: 10px;
  padding: 0px 10px;
}
#minus{
  height: 5px;
  width: 10px;
  position: relative;
  top: 23px;
  right: 15px
}
#minus:hover{
  opacity: 0.7;
}
#plus{
  height: 10px;
  position: relative;
  top: 20px;
  left: 15px;
}
#plus:hover{
  opacity: 0.7;
}
#num{
  font-weight: bold;
  color: black;
}
.cart button{
  padding: 17px 50px;
  background-color: rgb(245, 99, 31);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.cart button:hover{
  background-color: rgb(245, 99, 31, 0.7);
}
#icon{
  margin-right: 10px;
}
.pictures{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  gap: 10px;
}
.pictures .pic1{
  border-radius: 10px;
  width: 100%;
}
.pictures .pic1:hover{
  opacity: 0.5;
}
.pictures .pic1.active{
  border: 2px solid orangered;
}
.pic{
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: auto;
  transition: all 0.3S ease;
}
.overlay{
  border: 2px solid rgb(245, 99, 31);
  border-radius: 10px;
  position: absolute;
  width: 78px;
  height: 76px;
  bottom: 39px;
  left: 190px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.cart-btn img{
  margin-right: 10px;
  height: 13px;
  color: black;
}
.content{
  width: 70%;
}


/*Hamburg Styles*/
.hamburg-container, .hamburg, .ham-container, .slider{
  display: none;
}


/*Cart Styles*/
.cart-container{
  position: absolute;
  top: 71px;
  right: 10%;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 
        -5px 7px 10px rgba(0, 0, 0, 0.1), /* Left shadow */
         5px 7px 10px rgba(0, 0, 0, 0.1), /* Right shadow */
         0 7px 10px rgba(0, 0, 0, 0.1);   /* Bottom shadow */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}
.cart-title{
  columns: black;
  font-weight: bolder;
  margin-left: 20px;
}
.div-line{
  border-bottom: 1px solid rgb(150, 147, 147, 0.3);
}
.cart-cont{
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
}

/*CartContent Styles*/
.cartcontent-container{
  position: relative;
  bottom: 30px;
  margin: 50px 20px 10px 20px;
}
.details{
  display: flex;
}
.cart-shoe{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.cart-text{
  font-size: 12px;
  text-align: left;
  position: relative;
  bottom: 12px;
  left: 20px;
}
.trash-icon{
  height: 15px;
  width: 15px;
  position: relative;
  top: 12px;
  left: 30px;
}
.cartcontent-container button{
  padding: 15px 10px;
  width: 100%;
  background-color: rgb(247, 117, 42);
  border: none;
  border-radius: 5px;
}
.notif-num{
  position: absolute;
  right: 16.5%;
  background-color: rgb(248, 103, 51);
  color: white;
  border-radius: 50px;
  padding: 1px 4px;
  font-size: 10px;
}
.gallery-container{
  position: absolute;
  left: 35%;
  top: 10%;
  z-index: 3;
  width: 30%;
  height: 30%;
}
.gallery-close{
  height: 20px;
  color: black;
  position: relative;
  left: 94%;
}
.gallery-pictures{
  display: flex;
  justify-content: space-between;
  margin-top: 110%;
}
.gallery-blur-effect{
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.thumbnail-container {
  position: relative;
}
.thumbnail-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
}

.thumbnail-container.active .overlay {
  display: block;
}
.gallery-pic {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px; 
}
.gallery-pic:hover{
  opacity: 0.5;
}
.slider-content {
  display: flex;
  max-width: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.slide.active {
  opacity: 1;
}
.slide img{
  width: 100%;
  display: block;
  border-radius: 10px;
}
.chevron{
  background-color: white;
  border-radius: 50px;
  padding: 20px;
  position: absolute;
  height: 15px;
  display: block;
  z-index: 1;
}
.left{
  top: 100%;
  left: -22px;
}
.right{
  top: 100%;
  right: -22px;
}




@media (max-width: 475px){
  .hamburg{
    position: relative;
    bottom: 34px;
    right: 105%;
    padding-top: 50px;
    margin-left: 0px;
    display: block;
  }
  .close{
    position: relative;
    left: 0px;
    top: 10px;
    height: 20px;
    width: 20px;
    color: black;
    display: block;
  }
  .ham-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    padding: 40px;
    z-index: 3;
  } 
  .ham-link{
    text-decoration: none;
    color: black;
    margin-top: 20px;
  }
  .blur-effect{
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 200%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 2;
  }
  .chevron{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    position: absolute;
    height: 10px;
    display: block;
    font-weight: bold;
    z-index: 1;
  }
  .left{
    top: 40%;
    left: 30px;
  }
  .right{
    top: 40%;
    right: 20px;
  }
  .links, .pic1, .overlay, .gallery-container, .pic{
    display: none;
  }
  .logo{
    margin-left: 30px;
  }
  .icon-img{
    margin-left: 28%;
  }
  .nav-container{
    border: none;
  }
  .body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;


    .slider {
      position: relative; 
      width: 100%;
      height: 300px;
      overflow: hidden;
      display: block;
    }
    .slider-content {
      display: flex;
    }
    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      transition: opacity 0.5s ease;
      opacity: 0;
    }
    .slide.active {
      opacity: 1;
    }
    .slide img{
      width: 100%;
      display: block;
      border-radius: 0;
    }
  }
  .left-side{
    width: 100%;
    height: 100%;
  }
  .right-side{
    margin: 0px 30px;
  }
  .content{
    width: 100%;
  }
  .cart-btn{
    width: 100%;
  }
  .addtocart{
    display: inline;
  }
  .old-price{
    margin-left: 80%;
    bottom: 30px;
    position: relative;
  }
  .add{
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .cart button:hover{
    background-color: rgb(245, 99, 31, 0.7);
  }
  #minus, #plus{
    opacity: 0.7;
  }
  .avatar:hover{
    border: 2px solid orangered;
    border-radius: 50px;
  }
  .avatar{
    border: 2px solid transparent;
    border-radius: 50px; 
  }
  .cart-container{
    position: absolute;
    top: 10%;
    left: 6px;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    background-color: white;
    box-shadow:  0 7px 10px rgba(0, 0, 0, 0.1); 
    z-index: 2;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }
  .cartcontent-container{
    position: relative;
    bottom: 15px;
    margin: 45px 20px 20px 20px;
  }
  .cart-text{
    font-size: 12px;
    text-align: left;
    position: relative;
    bottom: 12px;
    left: 40px;
  }
  .trash-icon{
    height: 15px;
    width: 15px;
    position: relative;
    top: 12px;
    left: 35%;
  }
  .details{
    display: flex;
    margin-bottom: 20px;
  } 
  .notif-num{
    position: absolute;
    right: 28%;
    background-color: rgb(248, 103, 51);
    color: white;
    border-radius: 50px;
    padding: 1px 4px;
    font-size: 10px;
  }
}
